# Android SDK 路径
# Windows (CMD):  sdk.dir=C:\\Users\\%USERNAME%\\AppData\\Local\\Android\\Sdk
# Windows (PS):   sdk.dir=C:\\Users\\$env:USERNAME\\AppData\\Local\\Android\\Sdk
sdk.dir=C:\\Users\\%USERNAME%\\AppData\\Local\\Android\\Sdk

# MacOS 默认路径:
# sdk.dir=/Users/$USER/Library/Android/sdk

# Linux 默认路径:
# sdk.dir=/home/$USER/Android/Sdk
